*{
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
}
.conteudo{
    min-height: 100vh;
    width:100%;
    background-image: linear-gradient(rgba(4,9,30,0.7), rgba(4,9,30,0.7)), url("./img/background.jpg");
    background-position: center;
    background-size: cover;
    position: relative;
}
header{
    width:100%;
    background-image: linear-gradient(rgb(1, 7, 30), rgb(1, 7, 30));
    background-position: center;
    background-size: cover;
    position: relative;
}
nav{
    display: flex;
    padding: 2% 6%;
    justify-content: space-between;
    align-items: center;
}
.nav-links{
    flex: 1;
    text-align: right;
}
nav img{
    width: 120px;
}
.nav-links ul li{
    list-style: none;
    display: inline-block;
    padding: 8px 12px;
    position: relative;
} 
.nav-links ul li a{
    color: #fff;
    text-decoration: none;
    font-size: 16px;
}
.nav-links ul li::after{
    content:"";
    width: 0%;
    height: 2px;
    background: #f44336;
    display: block;
    margin: auto;
    transition: 0.5s;
}
.nav-links ul li:hover::after{
    width: 100%;
}
.formulario{
    width:90%;
    color: #fff;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
}
.formulario p{
    font-size: 30px;
}
button{
    color:#fff;
    display: inline-block;
    text-decoration: none;
    border: 1px solid #fff;
    padding: 12px 34px;
    font-size: 13px;
    background: transparent;
    position: relative;
    cursor: pointer;
}
button:hover{
    border: 1px solid #f44336;
    background: #f44336;
    transition: 1s;
}
.bottom{
    width: 80%;
    margin: auto;
    text-align: center;
    padding-top: 25px;
    padding-bottom: 25px;
}
.formulario{
    border: 1px solid #ccc;
    max-width: 700px;
    width:100%;
    padding: 25px 30px;
    border-radius: 5px;
    background-color: rgba(2, 2, 2, 0.61);
}
.field{
    display:flex;
    flex-wrap: wrap;
    justify-content: space-between;
}
.field input{
    margin: 0 0 5px 0;
    height: 20px;
    width: calc(100% / 2 - 20px);
}

.field select{
    margin: 0 0 5px 0;
    height: 28px;
    width: calc(100% / 2 - 16px);
}
.field textarea{
    height: 100px;
    width: calc(100% / 2 - 20px);
}
.banner{
    display: flex;
    justify-content: center;    
    position: relative;
    margin-bottom: 20px;
}

.produtos{
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}

#destaque{
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 26px;
    color:#fff;
    background-color: rgba(7, 24, 96, 0.6);
    padding-top: 10px;
    padding-bottom: 10px;
    
}
#fundo_branco{
    min-height: 100vh;
    width:100%;
    background-color: #ddd;
    background-position: center;
    background-size: cover;
    position: relative;
}

.produto{
    border: 1px solid grey;
    background-color: rgba(7, 24, 96, 0.6);
    justify-content: center;
    align-items: center;
    position: relative;
    overflow: hidden;
    margin: 50px;
}

.produto img{
    width: 250px;
    margin-bottom: 10px;
}

.produto p{
    font-size: 16px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #fff;
    margin-bottom: 10px;
}

.produto h1{
    font-size: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #fff;
    margin-bottom: 10px;
}

.produto .comprar{
    display:flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 10px;
}

.carrinho{
    border: 1px solid grey;
    background-color: rgba(7, 24, 96, 0.6);
    justify-content: center;
    align-items: center;
    position: relative;
    overflow: hidden;
    margin: 5px;
}

.carrinho img{
    width: 250px;
    margin-bottom: 10px;
}

.carrinho p{
    font-size: 16px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #fff;
    margin-bottom: 10px;
}

.carrinho h1{
    font-size: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #fff;
    margin-bottom: 10px;
}

.carrinho .remover{
    display:flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 10px;
}

@media(max-width: 768px){
    .nav-links ul li a{
        color: #fff;
        text-decoration: none;
        font-size: 10px;
    }
    #destaque{
        font-size: 18px;
    }
}
@media(max-width: 320px){
    .nav-links ul li a{
        color: #fff;
        text-decoration: none;
        font-size: 8px;
    }
    .formulario{
        border: 1px solid #ccc;
        max-width: 300px;
        width:100%;
        padding: 25px 30px;
        border-radius: 5px;
        background-color: rgba(2, 2, 2, 0.61);
    }
    #destaque{
        font-size: 12px;
    }
}