h1{
    color: blue;
    font-style: italic;
    font-family: sans-serif;
}

body{
    background-color: white;
    background-image: url("https://mdn.mozillademos.org/files/11305/firefox.png");
}

main{
    background-color: white;
}

p{
    text-align: justify;
}